# **Basic python **

# Day1

In [ ]:
### --> Hello World Program

In [5]:
print("Hello World")

Hello World

In [35]:
print ("Hello, Python!");

Hello, Python!

### Data type

In [31]:
3*4

12

In [32]:
_         # _ is used for most recent value

12

In [33]:
_+8

20

In [34]:
import math

In [40]:
math.floor(7.9)

7

In [41]:
math.ceil(7.9)

8

In [ ]:
help(math)

In [36]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [39]:
from math import factorial as fact
fact(4)

24

In [39]:
a=5           #Interger
print(a)

5

In [38]:
a=5.5           # Floating point number
print(a)

5.5

In [48]:
n = 5
k = 3
fact(n)/(fact(k)*fact(n - k)) # / float division operator

10.0

In [51]:
n = 5
k = 3
fact(n)//(fact(k)*fact(n - k)) # / Integer division operator

10

In [ ]:
fact(5)

## Variable

In [ ]:
a = b = c = 1
a, b, c = 1, 2, "john"  # Multiple Assignment

In [25]:
# Single line comment
print ('Hello, Khushi!') # 1st comment
# Multiline comment 
# This is a comment.
# This is a comment, too.
# This is a comment, too.

Hello, Khushi!

## Decision Making Statement

In [68]:
a=2 ;b=2
if a>b : 
   print("a is greater no")
elif b>a : 
   print("b is greater no") 
else : 
   print("a is equal to b")

a is equal to b

In [60]:
"True" if a==b else "false"

'True'

In [61]:
if 0: 
    pass
else:
    print("Day1 of 100DaysOfCode")

Day1 of 100DaysOfCode

## Looping statement

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [67]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# Day2

## String

In [43]:
name    = "khushi"  # A String

In [45]:
name.isalpha()

True

In [44]:
name.capitalize()

'Khushi'

In [17]:
word = 'word'
print(word)

word

In [22]:
sentence = "This is a sentence."
print(sentence)

This is a sentence.

In [46]:
name.replace("khushi","Fragrance")

'Fragrance'

In [20]:
paragraph = """This is a paragraph. It is     
made up of multiple lines and sentences."""#The triple quotes are used to spanthe
print(paragraph)                          # string across multiple lines.

This is a paragraph. It is
made up of multiple lines and sentences.

In [43]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
help(str)

## Split function

In [74]:
name.split()

['khushi']

In [75]:
print("khushi,fragrance".split(','))

['khushi', 'fragrance']

In [77]:
name,age=input("Enter your name and age").split()

Enter your name and age khushi 20

In [78]:
print(name)
print(age)

khushi
20

### Raw string

In [3]:
path = r'C:\Users\Dell\Hacktoberfest'

In [4]:
path

'C:\\Users\\Dell\\Hacktoberfest'

In [5]:
print(path)

C:\Users\Dell\Hacktoberfest

### Byte

In [6]:
a = b"Khushi"

In [7]:
print(a)

b'Khushi'

In [8]:
a = b"Khushi Yadav"

In [10]:
a.split()

[b'Khushi', b'Yadav']

## List

In [11]:
[1,2,3,]

[1, 2, 3]

In [13]:
['khsuhi']

['khsuhi']

In [15]:
b=[]

In [16]:
b.append(3)

In [17]:
b

[3]

In [18]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists
print (list[0:-1])
print (list[:])

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
['abcd', 786, 2.23, 'john']
['abcd', 786, 2.23, 'john', 70.2]

## Dictionary

mutable mappings of keys to values

In [3]:
var = {'a': '5', 'b': '5' }

In [4]:
print(var)

{'a': '5', 'b': '5'}

In [5]:
var

{'a': '5', 'b': '5'}

In [6]:
var["a"]="7"

In [7]:
var

{'a': '7', 'b': '5'}

In [8]:
var["c"]="7"

In [9]:
var

{'a': '7', 'b': '5', 'c': '7'}

# Day4

## Function

In [21]:
def even_or_odd(n):
    if n%2==0:
        print("even")
        return
    print("odd")
even_or_odd(7)

odd

In [22]:
w=even_or_odd(3)

odd

In [24]:
w is None

True

In [25]:
id(w)

1611750568