# **Basic python **

# Day1

In [ ]:
### --> Hello World Program

In [5]:
print("Hello World")

Hello World

In [35]:
print ("Hello, Python!");

Hello, Python!

## --> Data Type

In [39]:
a=5           #Interger
print(a)

5

In [38]:
a=5.5           # Floating point number
print(a)

5.5

In [54]:
name    = "khushi"  # A String

In [55]:
name.capitalize()

'Khushi'

In [57]:
name.isalpha()

True

In [59]:
name.replace("khushi","Fragrance")

'Fragrance'

## Variable

In [ ]:
a = b = c = 1
a, b, c = 1, 2, "john"  # Multiple Assignment

In [17]:
word = 'word'
print(word)

word

In [22]:
sentence = "This is a sentence."
print(sentence)

This is a sentence.

#### The triple quotes are used to span the string across multiple lines.

In [20]:
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
print(paragraph)

This is a paragraph. It is
made up of multiple lines and sentences.

In [25]:
# Single line comment
print ('Hello, Khushi!') # 1st comment
# Multiline comment 
# This is a comment.
# This is a comment, too.
# This is a comment, too.

Hello, Khushi!

## Decision Making Statement

In [68]:
a=2 ;b=2
if a>b : 
   print("a is greater no")
elif b>a : 
   print("b is greater no") 
else : 
   print("a is equal to b")

a is equal to b

In [60]:
"True" if a==b else "false"

'True'

In [61]:
if 0: 
    pass
else:
    print("Day1 of 100DaysOfCode")

Day1 of 100DaysOfCode

## Looping statement

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [67]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

## String

In [43]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

## Split function

In [74]:
name.split()

['khushi']

In [75]:
print("khushi,fragrance".split(','))

['khushi', 'fragrance']

In [77]:
name,age=input("Enter your name and age").split()

Enter your name and age khushi 20

In [78]:
print(name)
print(age)

khushi
20

## List

In [80]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists
print (list[0:-1])
print (list[:])

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
['abcd', 786, 2.23, 'john']
['abcd', 786, 2.23, 'john', 70.2]