# **Basic python **

# Day1

In [ ]:
### --> Hello World Program

In [5]:
print("Hello World")

Hello World

In [35]:
print ("Hello, Python!");

Hello, Python!

### Data type

In [31]:
3*4

12

In [32]:
_         # _ is used for most recent value

12

In [33]:
_+8

20

In [34]:
import math

In [40]:
math.floor(7.9)

7

In [41]:
math.ceil(7.9)

8

In [ ]:
help(math)

In [36]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [39]:
from math import factorial as fact
fact(4)

24

In [39]:
a=5           #Interger
print(a)

5

In [38]:
a=5.5           # Floating point number
print(a)

5.5

In [48]:
n = 5
k = 3
fact(n)/(fact(k)*fact(n - k)) # / float division operator

10.0

In [51]:
n = 5
k = 3
fact(n)//(fact(k)*fact(n - k)) # / Integer division operator

10

In [ ]:
fact(5)

## Variable

In [ ]:
a = b = c = 1
a, b, c = 1, 2, "john"  # Multiple Assignment

In [25]:
# Single line comment
print ('Hello, Khushi!') # 1st comment
# Multiline comment 
# This is a comment.
# This is a comment, too.
# This is a comment, too.

Hello, Khushi!

## Decision Making Statement

In [68]:
a=2 ;b=2
if a>b : 
   print("a is greater no")
elif b>a : 
   print("b is greater no") 
else : 
   print("a is equal to b")

a is equal to b

In [60]:
"True" if a==b else "false"

'True'

In [61]:
if 0: 
    pass
else:
    print("Day1 of 100DaysOfCode")

Day1 of 100DaysOfCode

## Looping statement

In [62]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [67]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# Day2

## String

In [43]:
name    = "khushi"  # A String

In [45]:
name.isalpha()

True

In [44]:
name.capitalize()

'Khushi'

In [17]:
word = 'word'
print(word)

word

In [22]:
sentence = "This is a sentence."
print(sentence)

This is a sentence.

In [46]:
name.replace("khushi","Fragrance")

'Fragrance'

In [20]:
paragraph = """This is a paragraph. It is     
made up of multiple lines and sentences."""#The triple quotes are used to spanthe
print(paragraph)                          # string across multiple lines.

This is a paragraph. It is
made up of multiple lines and sentences.

In [43]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World!TEST

In [ ]:
help(str)

## Split function

In [74]:
name.split()

['khushi']

In [75]:
print("khushi,fragrance".split(','))

['khushi', 'fragrance']

In [77]:
name,age=input("Enter your name and age").split()

Enter your name and age khushi 20

In [78]:
print(name)
print(age)

khushi
20

### Raw string

In [3]:
path = r'C:\Users\Dell\Hacktoberfest'

In [4]:
path

'C:\\Users\\Dell\\Hacktoberfest'

In [5]:
print(path)

C:\Users\Dell\Hacktoberfest

### Byte

In [6]:
a = b"Khushi"

In [7]:
print(a)

b'Khushi'

In [8]:
a = b"Khushi Yadav"

In [10]:
a.split()

[b'Khushi', b'Yadav']

## List

In [11]:
[1,2,3,]

[1, 2, 3]

In [13]:
['khsuhi']

['khsuhi']

In [15]:
b=[]

In [16]:
b.append(3)

In [17]:
b

[3]

In [18]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists
print (list[0:-1])
print (list[:])

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
['abcd', 786, 2.23, 'john']
['abcd', 786, 2.23, 'john', 70.2]

## Dictionary

mutable mappings of keys to values

In [3]:
var = {'a': '5', 'b': '5' }

In [4]:
print(var)

{'a': '5', 'b': '5'}

In [5]:
var

{'a': '5', 'b': '5'}

In [6]:
var["a"]="7"

In [7]:
var

{'a': '7', 'b': '5'}

In [8]:
var["c"]="7"

In [9]:
var

{'a': '7', 'b': '5', 'c': '7'}

# Day4

## Function

In [21]:
def even_or_odd(n):
    if n%2==0:
        print("even")
        return
    print("odd")
even_or_odd(7)

odd

In [22]:
w=even_or_odd(3)

odd

In [24]:
w is None

True

In [25]:
id(w)

1611750568

In [26]:
from urllib.request import urlopen
def fetch_words():
    with urlopen('http://sixty-north.com/c/t.txt') as story:
        story_words = []
        for line in story:
            line_words = line.decode('utf-8').split()
            for word in line_words:
                story_words.append(word)

    for word in story_words:
        print(word)
        
if __name__ == '__main__':
    fetch_words()

It
was
the
best
of
times
it
was
the
worst
of
times
it
was
the
age
of
wisdom
it
was
the
age
of
foolishness
it
was
the
epoch
of
belief
it
was
the
epoch
of
incredulity
it
was
the
season
of
Light
it
was
the
season
of
Darkness
it
was
the
spring
of
hope
it
was
the
winter
of
despair
we
had
everything
before
us
we
had
nothing
before
us
we
were
all
going
direct
to
Heaven
we
were
all
going
direct
the
other
way
in
short
the
period
was
so
far
like
the
present
period
that
some
of
its
noisiest
authorities
insisted
on
its
being
received
for
good
or
for
evil
in
the
superlative
degree
of
comparison
only

# Day5

In [1]:
import time

In [2]:
time.ctime()

'Sun Oct 28 22:24:35 2018'

In [18]:
def show_default(arg=time.ctime()):
     print(arg)

In [11]:
show_default()

Sun Oct 28 22:29:20 2018

In [19]:
show_default()

Sun Oct 28 22:33:23 2018

In [21]:
def add_spam(menu=[]): 
    menu.append("jam")
    return menu
breakfast = ['bread', 'butter']
add_spam(breakfast)

['bread', 'butter', 'jam']

In [22]:
add_spam()

['jam']

In [23]:
add_spam()

['jam', 'jam']

In [26]:
def add_spam(menu=None):
    if menu is None:
        menu=[]
    menu.append('jam')
    return menu

In [28]:
add_spam()

['jam']

In [30]:
add_spam()

['jam']

## Variable Scope

In [42]:
count = 0 # global variable 

def show_count():
    print("count = ", count)
    
def set_count(c):
    global count
    count = c
    print("count=",count)

In [43]:
set_count(5)

count= 5

In [37]:
count

0

In [44]:
show_count()

count =  5

In [45]:
count = 0 # global variable 

def show_count():
    print("count = ", count)
    
def set_count(c):
    global count
    count = c
    print("count=",count)

In [47]:
show_count()

count =  0

In [48]:
set_count(8)

count= 8

In [49]:
show_count()

count =  8

## Object

In [57]:
import math

In [58]:
type(math)

module

In [59]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [60]:
type(math.sin)

builtin_function_or_method

In [61]:
dir(math.sin)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [64]:
math.sin._self_

AttributeError: 'builtin_function_or_method' object has no attribute '_self_'

## Tuple

In [67]:
t=("America",1,2.33,3,4)

In [68]:
t

('America', 1, 2.33, 3, 4)

In [69]:
t[0]

'America'

In [70]:
len(t)

5

In [74]:
for item in t:
      print(t)

('America', 1, 2.33, 3, 4)
('America', 1, 2.33, 3, 4)
('America', 1, 2.33, 3, 4)
('America', 1, 2.33, 3, 4)
('America', 1, 2.33, 3, 4)

In [76]:
for item in t:
    print(item)

America
1
2.33
3
4

In [80]:
t + ("I'm coming")

TypeError: can only concatenate tuple (not "str") to tuple

In [82]:
t*2

('America', 1, 2.33, 3, 4, 'America', 1, 2.33, 3, 4)

In [83]:
a = ((2,3), (4,5), (6,7))

In [84]:
a[2]

(6, 7)

In [86]:
a[1][1]

5

In [87]:
a[1][0]

4

In [88]:
i=(2)

In [89]:
type(i)

int

In [90]:
t=(1,)

In [91]:
type(t)

tuple

In [92]:
a="khushi"
b="yaduvanshi"

In [93]:
a,b=b,a

In [94]:
print(a,b)

yaduvanshi khushi

In [95]:
tuple([1,4,7,4,3])

(1, 4, 7, 4, 3)

In [96]:
tuple("sdds")

('s', 'd', 'd', 's')

In [99]:
'k' in ('f','s','k')

True

In [101]:
2 not in (2,3,5,6)

False

In [102]:
(a, (b, (c,d))) = (1,(2,(3,4)))
print (a,b,c,d)

1 2 3 4

In [104]:
a=()
type(a)

tuple

In [107]:
def minmax(items):
    return min(items), max(items)
minmax([1,3,4,6,4])

(1, 6)